* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-image: url(/Films/ImagesF/pexels-photo-998641.jpeg);
cursor: url(/Films/ImagesF/green\ lightsaber.png), auto;

}

h1 {
  padding: 1rem;
  color:white;
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: 'Cinzel', serif;
  border: solid 1px gray;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

figure:hover{
  transform: translatey(5px);
}

img {
  height: 500px;
  margin: 5px 20px;
  box-shadow: 1px 1px 3px darkgray;
}
 
figcaption {
  margin: 5px 20px 15px 20px;
  text-align: center;
  background-color: black;
  padding: 7px;
  border-radius: 15px;
  color: white;
  font-family: 'Cinzel', serif;
 }

 figcaption:hover{
   background-color: darkred;
 }

 footer{
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: x-small;
  border: solid 1px gray;
}

