* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-image: url(/Films/ImagesF/pexels-photo-998641.jpeg);
cursor: url(/Films/ImagesF/green\ lightsaber.png), auto;
}

h1 {
  color:whitesmoke;
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-family: 'Cinzel', serif;
  text-shadow: 1px 1px 1px darkgray;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure img {
  height: 20rem;
  margin: 1rem;
  box-shadow: 1px 1px 3px darkgray;
}
 img:hover {
  transform: translatey(5px);
 }

figcaption {
  margin: 1rem 1rem;
  text-align: center;
  background-color: black;
  padding: 7px;
  border-radius: 15px;
  color: white;
  font-family: 'Cinzel', serif;
  
 }
 figcaption:hover{
   background-color: darkred;
 }

 footer{
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: x-small;
  margin-top: 1rem;
}

