* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #27187e;
}

img {
  height: 175px;
  display: block;
}

/* this is the Nav section */
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #27187e;
}

.navlist {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-right: 2rem;
}

.navlist a {
  display: block;
  padding: 2rem;
  font-size: large;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navlist a:hover {
  background-color: #aeb8fe;
  color: rgb(0, 0, 0);
}

/* this is the Welcome section */
#welcome-section {
  height: 100vh;
  background-color: #758bfd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section h1 {
  font-size: 6rem;
  color: rgb(255, 255, 255);
}
#welcome-section h3 {
  font-family: "Oxygen", sans-serif;
  font-size: xx-large;
  font-weight: 300;
  font-style: italic;
  color: #27187e;
}
/* this is the Projects section */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aeb8fe;
  padding: 8rem 0;
}

#projects h2 {
  font-size: 35px;
  color: black;
  padding-bottom: 2rem;
}
.projecttiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile {
  margin: 2rem;
}

.project-tile img {
  width: 30rem;
  box-shadow: #ffffff  -0.5px -0.5px 8px;
}

figcaption {
  text-align: center;
  color: aliceblue;
  background-color: rgba(0, 18, 71, 0.589);
  padding: 1.5rem;
  font-size: medium;
  box-shadow: #ffffff   0.5px 0.5px 8px;
}

/* this is the Contact section */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #758bfd;
  color: rgb(255, 255, 255);
  padding: 4rem;
}
#contact h1 {
  font-size: 6rem;
}
#contact h4{
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #27187e;
  padding-bottom: 4rem;
}

.contactlinks {
  display: flex;
}

.contactlinks a {
  display: block;
  font-size: 21px;
  font-weight: 500;
  color: black;
  padding: 0 1.5rem;
  text-shadow: #aeb8fe 2px 2px 3px;
}

.contact-details {
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translatey(5px);
}

footer p {
  text-align: center;
  padding: 3rem 0;
  margin-top: 5px;
  background-color: #758bfd;
  color: white;
  font-size: 15px;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 60%;
  }
}
/* 640px / 16px = 28.75em */
@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}
