*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
text-decoration: none;
font-family: 'Oxygen', sans-serif;

}

body{
font-family: 'Oxygen', sans-serif;
}

img{
    height: 200px;
    display: block;
}

/* this is the Nav section */
#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #27187E;
    

}

.navlist{
    display: flex;
    list-style-type: none;
    margin-right: 1rem;


}

.navlist li{
    padding: 1rem 0.5rem; 

}

.navlist a{
    display: block;
    padding: 1rem;
    font-size: larger;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.navlist a:hover{
    background-color: #AEB8FE;
    color: rgb(0, 0, 0);
}

/* this is the Welcome section */
#welcome-section{
    height:100vh;
    background-color: #758BFD;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 5rem;
    color:rgb(255, 255, 255);
}

h2{
font-size: 3rem;
padding:1rem;

}

/* this is the Projects section */
#projects{
display: flex;
flex-direction:row;
align-items: center;
background-color: #AEB8FE;
padding: 2rem;

}
.projecttiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile a {
  margin: 2rem;
}

figcaption{
  text-align: center;
  color: aliceblue;
  background-color: darkblue;
  border-radius: 3px 3px 6px 6px;
}

/* this is the Contact section */
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #758BFD;
  color:rgb(255, 255, 255);
  padding: 2rem;
}

#contact h2{
margin: 1rem;

}
.contactlinks{
  display: flex;

}
.contactlinks a {
  font-size: large;
  padding: 1rem 1rem;
  display: block;

}

.contact-details{
  text-shadow: 2px 2px 1px #747474;
  transition: transform 0.3s ease-out;

}

.contact-details:hover {
  transform: translatey(-5px);
  
}

footer p{
  text-align: center;
  padding: 2rem;
  background-color: #27187E;
  color: rgb(255, 255, 255);
  font-size: larger;

}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
/* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 60%;
    }
  }
/* 640px / 16px = 28.75em */
  @media (max-width: 40em) {
    html {
      font-size: 50%;
    }
  }