* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#3d7dca, white);
  margin-bottom: 2rem;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  padding-top: 0.5rem;
  font-family: "Luckiest Guy", cursive;
  color: #ffde00;
  text-shadow: 2px 2px 2px #003a70;
}

h2 {
  font-family: "Gochi Hand", cursive;
  text-align: center;
  color: #ffde00;
  text-shadow: 2px 2px 2px #003a70;
  border: solid 1px #3d7dca;
  margin: 0 1rem;
  padding: 5px;
}

button {
  font-family: "Press Start 2P", cursive;
  font-size: x-small;
  width: 175px;
  margin: 2rem 2rem 0 2rem;
  padding: 0.5rem;
  color: white;
  background-color: #003a70;
  border-radius: 9px;
  cursor: pointer;
}

button:hover {
  transform: translatey(3px);
}

body {
  cursor: url(/Pokemon/ImagesP/pokebal-icon-.png), auto;
}

main {
  border: solid 2px lightskyblue;
  background-color: #3d7dca;
  margin: 10px;
  padding: 1rem 1rem 5rem 1rem;
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scene {
  width: 200px;
  height: 260px;
  perspective: 600px;
  margin: 1em;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: solid 1px lightblue;
  border-radius: 7px;
}

.Front {
  text-transform: capitalize;
  text-align: center;
}

.Back {
  background-color: #003a70;
  color: white;
  border: dashed 1px lightblue;
  transform: rotateY(180deg);
}

h4 {
  width: 160px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  padding: 4px 0 2px 0;
  margin-left: 12px;
  margin-top: 7px;
  border-bottom: solid 1px #ffde00;
}

ul li {
  font-family: "Courier New", Courier, monospace;
  padding-top: 2px;
  padding-left: 5px;
}

li::marker {
  content: " \276F"; /* Your symbol here */
}

figure img {
  width: 200px;
}

figcaption {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: small;
  padding: 0.5rem;
  background-color: #003a70;
  color: white;
}

figcaption:hover {
  background-color: #ffde00;
  color: black;
}

footer {
  text-align: center;
  color: black;
  padding: 20px;

  font-size: x-small;
  background: linear-gradient(white, #3d7dca);
}
