* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
background-image: url(/Starships/ImagesSS/galaxybackground.png);
}


h1 {
    margin: 0 10px 1rem 10px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 1rem;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: xx-large;
    border: solid 1px gray;
    }
    
.mainContainer {
    display: flex;
}

.shipViewer {
    height: 100vh;
    display: flex;
    justify-content: center;
   
}
  
.shipViewer img {
    padding: 10rem;
}
  
.box {
    background-color: crimson;
}

.box p {
font-size: x-large;
text-align: center;
color: white;
}

.nav{
min-width: 20rem;

}

.navList {
    margin: 1rem;
    list-style-type: none;
    font-family: monospace;
    padding: 1rem;
border: dashed 2px lightgray;
}

li:hover {
box-shadow: 1px 1px 2px white;
}

a {
color: white;

}

a:hover{
    color: lightgray;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: x-small;
    padding: 20px;
    border: solid 1px gray;
    margin: 0 10px 1rem 10px;

}

