*{
  cursor: url(/Characters/Imagesch/purple\ lightsaber.png), auto;
}

header {
display: flex;
justify-content: center;

}

body{
  background-image: url(/Characters/ImagesCH/dark-background-4.jpg);
}

h1 {
  text-align: center;
  font-family: 'Cinzel', serif;
 color: whitesmoke;
 padding: 1rem;
 text-shadow: 1px 1px 1px darkgray;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  figure img {
    height: 20rem;
  }

  
  button {
    width: 9rem;
    height: 2.5rem;
    margin: 1rem;
    background-color: darkred;
    color: whitesmoke;
    border-radius: 5px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

   }

   button:hover {
    transform: translatey(2px);
   }

  figcaption {
   text-align: center;
   background-color: black;
   padding: 0.5rem;
   border-radius: 15px;
   color: white;
   text-shadow: 1px 1px 0.5px darkred;
   margin-top: 5px;

  }

  footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: x-small;
    margin-top: 0.5rem;
  }