* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background: linear-gradient(white, lightgray, white);
    color: black;
}

.buttonsDiv{
display: flex;
justify-content: center;
animation-name: slidein;
animation-duration: 5s;

}

@keyframes slidein {
    from {
        margin-left: -100%;
        width: 50%;
      }
    
      to {
        margin-right: 100%;
        width: 100%;
      }
    }

button {
    width: 9rem;
    height: 2.5rem;
    margin: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
}

button:hover{
transform: translatey(2px);
background-color: white;
color: black;
}


h1 { 
background-image: url(/Congress/ImagesC/Flag2sliderimage.jpeg);
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
font-size: 3rem;
padding: 2rem;
color: white;
-webkit-text-stroke: 2px black; 
text-shadow: 1px 1px 3px lightgray;
}

.seniority{
    text-align: center;
    font-size: large;
    margin: 1rem 0 2rem 0;
    padding: 1rem;
}

p {
text-align: center;
color: black;
font-size: x-large;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loyaltyList {
list-style-type: none;
display: flex;
justify-content: space-evenly;
 padding: 1rem;
margin-bottom: 1rem;
}

.senatorsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-top: solid 2px darkgrey;
    padding-top: 1rem;
   margin: 1rem;
}

figure{
  margin: 5px;  

}

figure:hover{
    transform: translatey(3px);
}

img {
    height: 175px;

}

figcaption {
display: flex;
justify-content: center;
width: 100%;
background-color: darkred;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
padding: 7px;
color: white;
border-radius: 5px;
}

figcaption:hover{
background-color:lightgray;
color: black;

  }

footer{
    background-image: url(/Congress/ImagesC/Flag2sliderimage.jpeg);
    text-align: center;
    color: white;
    padding: 20px;
    font-size: x-small;
    margin-top: 15px;

}
